#root>div>div>div.col-lg-9.col-md-9.col-sm-9.col-9>div>nav {
    background-color: #fff !important;
}

#root>div>div>div.col-lg-9.col-md-9.col-sm-9.col-9>div>nav>div.show.dropdown.nav-item>div {
    border: 0px;
}

#root>div>div>div.col-lg-9.col-md-9.col-sm-9.col-9>div>nav {
    padding: 8px 8px;
}

#root>div>div>div.col-lg-9.col-md-9.col-sm-9.col-9>div>nav>div.mr-auto.navbar-nav a {
    padding: 8px 16px;
}

#basic-nav-dropdown {
    color: black;
}

.fa-2x {
    font-size: 25px;
}


.notification-nav {
    display:flex;
    justify-content: flex-end;
}

#root > div > div > div.col-lg-9.col-md-9.col-sm-9.col-9 > nav > div.show.dropdown.nav-item > div {
    position: absolute;
    right: 100;
}