.project-title {
    /* display: flex;
    align-items: center; */
    padding: 15px 8px 15px 0px;
}

.project-title h1 {
    font-size: 56px;
}

.block-row {
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
    padding-bottom: 15px;
}

.ptu-info{
    display: flex;
    align-items: center;
}


/* User Accordion */
.user-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.divider {
    margin-bottom: 15px;
}

