.projects-title {
    padding: 15px 8px 15px 0px;
}

.projects-title h1 {
    font-size: 56px;
}

.projects-title button {
    background-color: rgb(40, 167, 69);
    color: white;
    padding: 8px 16px;
    border-radius: .25rem;
}

.projects-title button:hover {
    opacity: 0.75;
}

.create-project {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0px;
}

.project-row {

}

.project-col {
    display: flex;
    justify-content: center;
    padding: 52px 0px;
}

.project-col .card {
    min-height: 320px;
}

.projects-cards-content p {
    min-height: 168px;
}

.more-info-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.more-info {
    background: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, .8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.more-info a {
    color: white;
    text-decoration: none;
}

.more-info:hover {
    background: rgba(0, 0, 0, .15);
}