.projects-title {
    padding: 15px 8px 15px 0px;
}

.projects-title h1 {
    font-size: 56px;
}

.projects-title button {
    background-color:rgb(40, 167, 69);
    color: white;
    padding: 8px 16px;
    border-radius: .25rem;
}

.projects-title button:hover {
    opacity: 0.75;
}

.create-project {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0px;
}

.project-row {
    justify-content: space-between;
}

.project-block {
    /* border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin: 20px 0px;
    position: relative;
    background-color: #17a2b8;
    min-height: 150px;
    color: #fff;
    margin: 8px 8px;
    padding: 15px 0px;
    max-width: 200px; */

    background-color: #17a2b8;
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    margin: 8px 0px;
    min-height: 150px;
    color: #fff;
    margin: 8px 8px;
    padding: 15px 0px 0px 0px;
    max-width: 223px;
}

.more-info {
    background: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, .8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.more-info a {
    color: white;
    text-decoration: none;
}

.more-info:hover {
    background: rgba(0, 0, 0, .15);
}