html,
body {
    height: 100%;
}

/* Side Bar Logo */
.side-bar-logo {
    border-bottom: 1px solid #4b545c;
    color: rgba(255, 255, 255, .8);
    padding: 0px 15px 15px 0px;
}

.side-bar-logo img {
    height: auto;
    width: 150px;
}

/* Side Bar User */
.side-bar-user {
    display: flex;
    align-items: center;
    margin: 16px 0px;
    border-bottom: 1px solid #4b545c;
    padding: 0px 15px 15px 0px;
    color: rgba(255, 255, 255, .8);
}

.side-bar-user img {
    width: 35px;
    height: 35px;
}

.side-bar-user a {
    padding: 5px 5px 5px 10px;
    color: white;
}

/* Side Bar Content */
.side-bar-container {}

.sc-bdVaJa:hover {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
}

/* #root > div > div > div.col-lg-3.col-md-3.col-sm-3.col-3 > div > div:nth-child(4) > div > div > div.card-header {
    padding: 8px 16px;
} */

.side-bar-card-header {
    height: 40px;
    /* width: 75px;  width must be same size as NavBar to center */
    /* text-align: center;  Aligns <a> inside of NavIcon div */
    border-radius: 5px !important;
    align-items: center;
    display: grid;
    padding: 8px 16px;
    background-color: rgb(33, 37, 41);
    border: rgb(33, 37, 41);
}

.side-bar-card-header i {
    color: white;
}

.side-bar-card-header a {
    color: white;
}
.side-bar-card-header a:hover {
    opacity: 0.7;
    text-decoration: none; /* Gets rid of underlining of icons */
}

.side-bar-card-header:hover {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
}

.accordion .card {
    border: rgb(33, 37, 41);
    background-color: rgb(33, 37, 41);
    color: white;
}

/* Side Bar Seperator */
.sidebar-seperator {
    margin-top: 250px;
}

/* Side Bar Actions */
.action-container {
    height: 40px;
    /* width: 75px;  width must be same size as NavBar to center */
    /* text-align: center;  Aligns <a> inside of NavIcon div */
    margin-bottom: 0;
    /* Puts space between NavItems */
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
    margin: 3px 0px;
    align-items: center;
    display: grid;
    padding: 8px 16px;
    border: white;
}

.action-container a {
    text-decoration: none;
    color: white;
}

.action-container i {
    color: white;
}